/* main page */
:root {
    --cobalt: #0047ab;
    --code: #282c34;
    --terminal: #4AF626;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

.logo-main {
    zoom: 0.4;
}


.logo-main:hover {
    scale: 1.2;
}

.wrapper {
    line-height: 2;
    overflow: hidden;
}

.head-message {
    color: whitesmoke;
    position: absolute;
    max-width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.home-div {
    height: 100vh;
    text-align: center;
    background-color: black;
}

.head-image {
    position: absolute;
    max-width: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    overflow: visible;
}

.head-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.projects-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.project-link {
    margin: auto;
    width: 60%;
    padding: 10px;
    visibility: hidden;
}

.project-link > img {
    margin: 0 auto;
    width: 100%;
    border-radius: 100%;
    border: 3px #ff9a00 solid;
    box-shadow:0 0 20px #0065ff;
}

.project-image {
    border-radius: 100%;
    height: 200px;
}

img.project-image:hover {
    filter: blur(0px);
}

.filler, .trigger {
    height: 100vh;
}

/* =================================== projects ===================================*/
/* html {
    scroll-snap-type: y proximity;
} */

a {
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
}

.project-nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.project-nav > * {
    padding-top: 10px;
}

.content-wrapper {
    margin-top: 60px;
}

.dropdown {
    position: absolute;
    /* background-color: black; */
    color: whitesmoke;
    border: 1px solid #0047ab;
    top: 120px;
    right: 40px;
    display: none;
}

.visible {
    display: block;
}

.dropdown-li {
    list-style: none;
    text-align: right;
    
}

.burger-menu {
    height: fit-content;
    cursor: pointer;
}

/* .burger-menu:hover {
    scale: 1.2;
} */

.burger-line-main {
    height: 5px;
    width: 50px;
    background-color: var(--cobalt);
    border-radius: 20%;
}

.burger-line {
    width: 52px;
    height: 8px;
    background-color: var(--cobalt);
    margin: 12px 0;
    border-radius: 20%;
}


/* section {
    height: 100vh;
    scroll-snap-align: start;
} */



.overview {
    height: 100vh;
    color: whitesmoke;
    background-image: url(https://images.unsplash.com/photo-1541728472741-03e45a58cf88?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.overview-image img {
    width: 50%;
}

/* =========================================== PARALLAX =========================================== */
.parallaxParent {
    height: 100vh;
    overflow: hidden;
}
.parallaxParent > * {
    height: 100%;
    position: relative;
    top: -40%;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-header, .parallax-section {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}

pre {
    text-align: left;
    text-shadow: none;
}

.project-title {
    text-decoration: underline;
}

.project-header {
    font-family: "Special Elite", system-ui;
    min-height: 100vh;
    color: black;
    text-shadow: 0 0 20px whitesmoke,
             0 0 30px whitesmoke,
             0 0 40px whitesmoke;
    /* border: 10px ridge #663300; */
}

.project-header > * {
    margin: 60px;
}

.overview-image > img {
    border: 5px var(--cobalt) ridge;
}

.parallax-section {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(208, 208, 208);
    /* border: 10px  darkgreen;
    border-style: ridge none; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parallax-content {
    margin: 0 auto;
    width: 80%;
}

.parallax-content > p,li {
    margin: 20px;
    text-align: left;
}

ul {
    list-style-position: inside;
}

.hacked {
    font-family: "Rubik Glitch", system-ui;
    /* font-weight: 400; */
    font-style: normal;;
}

.hackerman {
    font-family: monospace;
    font-style: normal;
    text-align: left;
    line-height: 1.55rem;
    color: var(--terminal);
    background-color: black;
    width: 80%;
    border: 5px solid grey;
    margin: auto auto;
}

.hackerman > * {
    padding: 20px;
}

.subtitle {
    display: block;
    margin: 20px;
    font-style: italic;
}

.icon {
    max-height: 20px;
    margin: 0;
}

.header-bg {
    margin: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
    filter: blur(8px);
}

.darken {
    filter: brightness(50%);
}

.ralof {
    height: 50vh;

}

.ralof > * {
    height: 200%;
    position: relative;
    top: -100%;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-link {
    /* font-family: "Special Elite", system-ui; */
    text-shadow: 2px black;
}

/* =================================== WIPE =================================== */
.wipe {
    height: 100vh;
}

/* barba */
.transition {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    background: white;
    opacity: 0;
    /* transform: scaleY(0); */
}

@font-face {
    font-family: 'Neon Glow';
    src: url(https://assets.codepen.io/230569/NeonGlow-8VLz.ttf);
  }
  
  #gasses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    > * {
      margin: 2rem;
    }
  }
  
  .gas {
    --blur: 1.75rem;
    --box-blur: calc(0.5 * var(--blur));
    --glow: var(--color);
    --size: 12rem;
    
    align-items: center;
    border-radius: 12px;
    border: 4px solid currentColor;
    box-shadow: 
      /* --- "glass" tube --- */
      /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
      /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
      /* --- glow --- */
      /* inside */ inset 0 0 var(--box-blur) var(--glow),
      /* outside */      0 0 var(--box-blur) var(--glow);
    color: var(--color, white);
    display: inline-flex;
    flex-direction: column;
    font-family: system-ui, sans-serif;
    height: var(--size);
    justify-content: space-around;
    padding: 1rem;
    width: var(--size);
    
    > * {
      margin: 0;
      padding: 0;
    }
    
    .number { 
      font-weight: 700; 
    }
    
    .symbol { 
      font-size: 4rem; 
      font-family: 'Neon Glow';
      text-shadow: 0 0 var(--blur) var(--glow);
    }
    
    &.he { --color: #FCEAAC; filter: saturate(175%); }
    &.ne { --color: #FDA802; filter: brightness(110%); }
    &.ar { --color: #E555C7; filter: brightness(125%); }
    &.co { --color: #0047ab; filter: saturate(200%); }
    &.xe { --color: #C4C4C6; filter: brightness(105%); }
  }
  
  /* .egypt {
    height: 100%;
    background-image: url(images/egypt.jpg);
    background-size: cover;
}

.roman {
    height: 100%;
    background-size: cover;

    background-image: url(https://images.unsplash.com/photo-1462747772350-460bb4aad7f4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.british {
    height: 100%;
    background-image: url(https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/commercial/2011/8/23/1314095204550/The-Midland-Grand-Hotel-L-007.jpg?width=465&dpr=1&s=none);
    background-size: cover;

} */